.footer {
  padding: 70px 0 0;

  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__image {
    display: block;
    max-width: 320px;
    margin: 0 auto;

    @media screen and (max-width: 425px) {
      max-width: 280px;
    }
  }
}
