.lead {
  padding: 70px 0 0;

  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__title {
    font-size: 52px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin: 12px 0 0;

    &_lang_kz {
      margin: 0;
    }

    @media screen and (max-width: 425px) {
      font-size: 40px;
      line-height: 36px;
    }
  }
}
