.page * {
  box-sizing: border-box;
}

.page {
  font-family: "SF Pro Display", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media screen and (max-width: 425px) {
    overflow: auto;
  }
}
